body {
  font-family: "Lato", sans-serif;
}
.user-avatar {
  border-radius: 5%;
  border-color: #50c1e3;
  border-style: solid;
  border-width: 2px;
}

.enara-logo {
}

div {
  margin: 15px;
}

h5 {
  color: RGB(73, 183, 214);
}

strong {
  color: RGB(73, 183, 214);
}

.user-section {
  margin-top: 10%;
  margin: 0 auto;
}

.pie-center {
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.trio {
  border: 2px solid #50c1e3;
  border-radius: 5%;
}

.trio-img {
  width: 50%;
}

canvas {
  margin-right: -10px;
}
